{% load static %}
{% static "images" as baseURL %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meduu</title>
</head>
<body>
    
    <h2>Medshingi</h2><br>

    Medshingi is beautiful and peaceful place with full of greenary.<br>
    I love this place and I would like to visit medshingi again and again.<br>
    My parents, my family lives there with full of happiness and I am glad to have 
    native place as my medshingi.<br><br>

    <img src="{% static 'images/destination_1.jpg' %}" alt="my_place">

</body>
</html>